geopandas==0.14.3
matplotlib==3.5.2
numpy==1.22.4
pandas==1.4.2
Pillow==9.1.1
Pillow==10.2.0
pyproj==3.6.1
pyresample==1.23.0
pytz==2022.1
ray==2.9.0
s3fs==2023.12.2
satpy==0.36.0
scikit_image==0.19.2
segmentation_models_pytorch==0.3.3
Shapely==2.0.3
suntime==1.2.5
torch==2.1.2+cpu
torchvision==0.16.2+cpu
wget==3.2
